@model Contract_Administrator.Models.Client

@{
    ViewData["Title"] = "Odstranění klienta";
}

<div class="row">
    <div class="col-lg">
        <h3 class="my-3">Opravdu chcete odstranit klienta @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)?</h3>
    </div>
    <a asp-action="Index" class="col-lg-auto d-none d-lg-flex">Zpět na přehled</a>
    <hr />
</div>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalIdNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalIdNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-close-white">Zpět</a>
    </form>
</div>
